html {
    font-size: 62.5%;
}

.gallery--item_title {
    display: block;
    font-size: 2rem;
    width: 12rem;
    height: 2.5rem;
    text-align: center;
    color:darkgreen;
    background-color: bisque;
    border-bottom-left-radius: 2.3rem;
    border-bottom-right-radius: 2.3rem;
}
.gallery {
    list-style:none;
}
.gallery--item_image {
    display: block;
    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;

}
.gallery--item {
    border: 0.6rem, solid, gray;
    border-radius: 3rem;
    display: inline-block;
    margin: 1rem;
}