.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content:space-evenly;
}
.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 3px solid gray;
    flex-grow: 1;
    margin: 5px;
}
.box-one{
    flex-grow: 0;
}

.box-two{
    flex-grow: 2;
    align-self: flex-end;
    flex-shrink: 2;
}